
.oc_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr .5fr 1fr;
    justify-content:space-around;
    margin: auto;
    margin-top: 10px;

    padding: 5px 10px;
    /* border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; */
    border-top: 1px solid lightgray;
    font-size: small;
    /* width: 80%; */
    
}
.OrderItemsList{
    border: 1px solid lightgray;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}
.oc_container button{
    margin-left: 5px;
    font-size: small;
    background-color: oldlace;
    border: 1px solid lightgray;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
}
.orderItemDesc{
    text-transform: capitalize;
}
.orderItemsQty{
    text-align: center;
}
.orderDetails_container{
    font-size: medium;
}

.ocl_container h4 {
    padding-left: 10px;
    color: rgb(65, 30, 5);
}
.order_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 10px;
    border: 1px solid lightgray;
    margin:auto
}

.order_header button {
    font-size: small;
    font-weight:600;
    padding: 5px;
    background-color: lightcoral;
    border-radius: 0px;
    border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
}

.orderItems_container h5 {
    text-align: center;
    font-size: large;

}

.transactionDetails_container{
    font-size: medium;
}
@keyframes flashing {
    0%   {color: black;}
    25%  {color: white;}
    50%  {color: black;}
    100% {color: white;}
  }
.processing{
    color: darkred;
    font-weight: bold;
    animation: blinking 1.5s ease-in-out infinite;
    opacity: 1;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}
