.ocl_container h4 {
    padding-left: 10px;
    color: rgb(65, 30, 5);
}
.order_header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 92px;
    z-index: 20;
    background-color: white;
    justify-content: space-between;
    padding-right: 43px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    /* background-color: oldlace; */
}

.order_header button {
    font-size: x-small;
    font-weight:600;
    padding: 5px;
    background-color: lightcoral;
    border-radius: 0px;
    border: 1px solid black;
    margin-top: 10px;
}

.orderItems_container {
    margin-top: 232px;
    /* margin: 10px auto;
    border: 1px solid lightgray;
    width: 80%; */
}