
.oc_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr .5fr 1fr;
    justify-content:space-around;
    margin: auto;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: xx-small;
    width: 80%;
    
}
.oc_container button{
    margin-left: 5px;
    font-size: xx-small;
}
.orderItemDesc{
    text-transform: capitalize;
}
.orderItemsQty{
    text-align: center;
}
.od_container{
    border: 1px solid lightgray;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: x-small;
}