.pcl_container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.products_title h4{
    padding-left: 10px;
    /* border-bottom: 1px solid lightgray; */
    /* background-color: oldlace; */
    color: rgb(65, 30, 5);
}
