.pc_container {
    display: grid;
    grid-template-columns: 1.5fr 2fr .5fr 1fr 1.5fr;
    justify-content:space-around;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    font-size: xx-small;
}
.pc_container button{
    margin-left: 5px;
    font-size: xx-small;
    width: 70%;
}