.pr_container {
    display: grid;
    /* grid-template-columns: 1.5fr 2fr .5fr 1fr 1.5fr; */
    grid-template-columns: 2fr .5fr;
    justify-content:space-around;
    padding: 5px 10px;
    /* border: 1px solid lightgray; */
    font-size: x-small;
    margin: 1px;
    height: 3rem;
    text-transform:capitalize;
}
.pc_container {
    /* display: grid;
    grid-template-columns: 1.5fr 2fr .5fr 1fr 1.5fr;
    grid-template-columns: 1fr 2fr .5fr;
    justify-content:space-around;
    padding: 5px 10px; */
    border: 1px solid lightgray;
    font-size: xx-small;
    /* margin: 1px; */
    height: fit-content;
    margin: 4px;

}
.pt_container{
    background-color: rgb(65, 30, 5);
    color: antiquewhite;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px;
}
.pc_buttons{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* background-color: azure; */
    /* height: 25px; */
    /* border: 1px solid lightgray; */
    margin: 1px;
    /* text-align: center;
    align-content: center; */

}
.rem_btn{
    
    margin-left: 1px;
}
