.register_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(../../images/backdrop.jpg);
    background-size: cover;
}

.register_container form {
    border: 1px solid black;
    padding: 10px;
    width: min-content;
    background-color: antiquewhite;
}