.user_form label, input {
    font-size: medium;
    margin-bottom: 10px;
}

.user_form label {
    font-weight: 500;
}
.user_form input {
    width: 40ch;
    background-color: oldlace;
    border: 1px solid black;
    height: 2rem;
    padding: 5px;
    border-radius: 5px;
}

.user_form button {
    padding: 2px 10px;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(83, 185, 219);
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
    text-transform: uppercase;
}

.user_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.user_form form {
    border: 1px solid black;
    padding: 10px;
    width: min-content;
    border-radius: 15px;
    background-color: white;
    opacity: .8;
}

.message_container {
    color: red;
    font-size: medium;
    text-align: right;
}

.btn_msg {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


.user_status_container a {
    color: antiquewhite;
    font-size: medium;
    text-decoration: none;
}

.uProfile_header{
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    color: rgb(65, 30, 5);
    text-align: center;
}
.register_check{
    margin-top: 2px;
    font-size: small;
}
