/* ALL */
label, input {
    font-size: x-small;
    
}

label {
    font-weight: 500;
    
}

button {
    padding: 2px;
    font-size: x-small;
    font-weight: 500;
    background-color:oldlace;
    border: 1px solid lightgray;
    border-radius: none;
    height: 25px;
    cursor: pointer;
}
/* LOGIN */
.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-image: url(../../images/backdrop.jpg); */
    background-size: cover;
}

.login_container form {
    border: 1px solid black;
    padding: 10px;
    width: min-content;
    background-color: antiquewhite;
    
}


.message_container {
    color: red;
    font-size: x-small;
    text-align: right;
}

.btn_msg {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

/* LOGIN STATUS */

.lStatus_container a {
    color: antiquewhite;
    font-size: small;
    text-decoration: none;
}

.dropbtn {
    color: antiquewhite;
    text-transform: uppercase;
    font-weight:lighter;
}

/* REGISTER */
.register_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-image: url(../../images/backdrop.jpg); */
    background-size: cover;
}

.register_container form {
    border: 1px solid black;
    padding: 10px;
    width: min-content;
    background-color: antiquewhite;
}

/* USER PROFILE */
.uProfile_container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    /* background-image: url(../../images/backdrop.jpg); */
    background-size: cover;
}

.uProfile_container form {
    border: 1px solid black;
    padding: 10px;
    width: min-content;
    background-color: antiquewhite;
}

.uProfile_header{
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    /* background-color: oldlace; */
    color: rgb(65, 30, 5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    width: 100px;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    /* margin: 0; */
    border: 1px solid oldlace;
    border-radius: 15px;
    
  }