.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(65, 30, 5);
    color: antiquewhite;
}
.head_container h6 {
    font-weight:lighter;

}
