.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
    padding: 10px;
    font-size: small;
    
}
.nav_container a {
    text-decoration: none;
    color: rgb(65, 30, 5);
}
.dot{
    background-color: rgb(65, 30, 5);
    color: antiquewhite;
    
    border-radius: 5px;
    padding: 2px;
    /* font-size: xx-small; */
}