* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.fixed_container {
  position: fixed;
  top: 0;
  width: 100%;
 }

 .main_container {
  margin-top: 150px;
 }

 @media only screen and (max-width: 580px) {
  .main_container {
    margin-top: 275px;
   }
   .banner_container {
    margin-left: 10px;
   }

  .separator{
    color: rgb(65, 30, 5);
    
  }
/*   .cart_header h4{
    font-size: xx-small;
  } */
 }
